#mainContainer
{
    display: flex;
    flex-direction: column;
    width: 200px;
    /* height: 200px; */
    row-gap: 15px;
    justify-content: space-evenly;
    align-items: start;
}

.textFieldLabel
{
    font-weight: bold;
}

.stateLabel
{
    font-size: medium;
    font-weight: bold;
}

#headerContainer
{
    align-self: center;
    justify-self: center;
}

#header
{
    font-size: large;
    font-weight: bold;
    text-align: center;
}